<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Página de exemplo estrutura básica </title>
    <meta charset="utf-8">
    <meta name="author" content="Guilherme">
    <meta name="Description" content="Learning basics">
    <meta name="keywords" content="html5, tecnologia">
    <link rel="stylesheet" href="/assets/style.css">
</head> 

<body>
    <h1>Formulario para envio de um POST</h1>
    <form action="/person" method="POST"> 
        <label>
            First Name:
            <input type="text" name="firstName">
        </label>
        <label>
            Last Name:
            <input type="text" name="lastName">
        </label>
        <input type="submit" value="Submit">
    </form>

</body>

</html>