*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: blue;
    font-weight: 800;
}

p{
    font-size: 16px;
    margin: 30px 0;
}

img{
    width: 100%;
    display: block;
    object-position: center;
    object-fit: cover;
    margin: 10px 0 ;
}

.blur-load{
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 200px 0;
}

.blur-load::before{
    content: "";
    position: absolute;
    inset: 0;
    animation: var(--animation-set, none);
}

@keyframes pulse{
    0%{
        background-color: rgba(255,255,255,0);
    }
    50%{
        background-color: rgba(255,255,255,0.1);
    }
    100%{
        background-color: rgba(255,255,255,0);
    }
}

.blur-load.loaded::before{
    content: none;
}

.blur-load > img{
    transition: opacity 200ms ease-in-out;
}

.blur-load.loaded > img{
    opacity: 1;
}