<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Página de exemplo estrutura básica </title>
    <meta charset="utf-8">
    <meta name="author" content="Guilherme">
    <meta name="Description" content="Learning basics">
    <meta name="keywords" content="html5, tecnologia">
    <link rel="stylesheet" href="/assets/style.css">
</head> 

<body>
    <h1>HOME no EJS!! Template engine!!</h1>
</body>

</html>